{% macro heading(text) %}
<div class="mb-12 text-left max-w-2xl w-full border-b border-[#bee8e8] pb-1 flex justify-between heading-block">
    {# <h2 class="uppercase text-sm tracking-wider font-medium">{{ text }}</h2> #}
    <h2>{{ text }}</h2>
    <span></span>
</div>
{% endmacro %}