{# <hr class="my-8 border-[#F8F785] w-[48px] max-w-2xl"> #}
{# <div class="mb-16">* * *</div> #}
{# <div class="mb-24">＊ ＊ ＊</div> #}
<hr class="mb-24 border-2 border-b-0 border-[#234e4e] max-w-2xl w-full opacity-50" style="border-style: groove;">
{# <hr class="mb-24 border-1 border-b-0 border-[#bee8e8] border-dashed max-w-2xl w-full"> #}
{# <div class="mb-24">{% image "pixel-divider.png", "Safer logins with two-factauthentication" %}</div> #}
