<footer class="bg-black pv5 ph3">
    <section class="mw9 center tc white-80">
        <p class="f-tiny">© 2017 Djordje Vlaisavljevic. All Rights Reserved.</p>
        <p class="f-tiny">Made with 👐 in <a href="https://www.google.rs/maps/place/%D0%91%D1%80%D0%B0%D1%9B%D0%B5+%D0%88%D0%B5%D1%80%D0%BA%D0%BE%D0%B2%D0%B8%D1%9B,+%D0%91%D0%B5%D0%BE%D0%B3%D1%80%D0%B0%D0%B4/@44.7698159,20.4819917,15z/data=!3m1!4b1!4m5!3m4!1s0x475a70faa644ec3b:0xfc429552cd8c9fee!8m2!3d44.7725087!4d20.4902702?hl=sr" class="white-80 link underline">Jerković</a>.</p>
    </section>
</footer>