---
layout: default
---

<header class="cf tl pv4 pv4-ns ph4 ph5-ns bb b--black-10">

        <section class="mw6 center w-100 tc">
            <h1 class="f3 f2-ns pb2 mv0 lh-title tc">{{ page.title }}</h1>
            <p class="black-80 lh-copy ttu tracked f-tiny tc"><span class="b ttu tracked">Role: </span>{{ page.role }}</p>
        </section>

</header>

<article class="center f5 measure-wide pa3 nested-copy-line-height nested-headline-sansserif nested-headline-size nested-headline-line-height nested-img nested-figure nested-embeds nested-big-image nested-hr nested-code nested-list nested-blockquote nested-dt nested-table nested-link nested-form">
    {{ content }}
</article>