---
layout: default
---

<header class="mw7 center tl tc-ns mb5-ns ph4">
    <h1 class="f2 f-subheadline-ns mb2 lh-title">{{ page.title }}</h1>
    {% if page.tagline %}
        <p class="f4">{{ page.tagline }}</p>
    {% endif %}
</header>

<div class="center f5 measure-wide pa3 nested-copy-line-height nested-headline-sansserif nested-headline-size nested-headline-line-height nested-img nested-figure nested-embeds nested-big-image nested-hr nested-code nested-list nested-blockquote nested-dt nested-table nested-link nested-form"">
    {{ content }}
<div>