---
layout: base.njk
title: Left
---

<div class="flex flex-col items-start px-4 md:px-24 pt-24 mb-16">
    <header class="w-full mb-12">
        <nav>
            <div class="flex justify-between items-center py-6">
                <h1><a href="/" class="no-underline">Đorđe Vlaisavljević</a></h1>
                {# <ul class="flex space-x-2">
                    <a href="mailto:dzvlais@gmail.com">
                        Email me
                    </a>
                    <span class="text-[#8F785]">,</span>
                    <a href="/contact/">
                        LinkedIn
                    </a>
                    <span class="text-[#8F785]">,</span>
                    <a href="/BlueSky/">
                        Bluesky
                    </a>
                    <span class="text-[#8F785]">,</span>
                    <a href="/BlueSky/">
                        Are.na
                    </a>
                </ul> #}
            </div>
        </nav>
    </header>
    <main class="flex-grow flex flex-col items-start w-full mb-12">
        <div class="md:grid-cols-2 gap-8 mb-24 max-w-2xl w-full">
            {# <div><p>Now</p></div> #}
            <div class="md:col-start-2">
                <p class="mb-8">
                    I’m a software designer with 10+ years of experience based in Portugal. Previously, I worked at <a href="https://ghost.org">Ghost</a> and <a href="https://hov.co">High Output Ventures</a>.
                </p>
                <p class="mb-8">
                    Right now, I’m looking for a team of kind, smart people working on useful and ethical digital products.
                </p>
                <div class="flex gap-3">
                    <a href="mailto:dzvlais@gmail.com">
                        Email me
                    </a>
                    <span class="text-[#8F785]">·</span>
                    <a href="/contact/">
                        LinkedIn
                    </a>
                    <span class="text-[#8F785]">·</span>
                    <a href="/BlueSky/">
                        Bluesky
                    </a>
                    <span class="text-[#8F785]">·</span>
                    <a href="/BlueSky/">
                        Are.na
                    </a>
                </div>
            </div>
        </div>

        {# <div class="my-5 text-left max-w-2xl w-full border-b border-[#F8F785] pb-1 flex justify-between"><h2>Work</h2><span>⤵</span></div> #}
        {% from "heading.njk" import heading %}
        {{ heading("Experience") }}
        <div class="md:grid md:grid-cols-12 gap-8 mb-1 max-w-2xl w-full">
            <div class="md:col-span-3">
                <p>2021—2025</p>
            </div>
            <div class="md:col-span-8">
                <a href="https://ghost.org" class="mb-1.5 block">Ghost</a>
                <p class="mb-8">Senior product designer</p>
                {# <p class="mb-16">An independent, non-profit organization building open-source tools for writers, journalists and publishers.</p> #}
            </div>
        </div>
        <div class="md:grid md:grid-cols-12 gap-8 mb-1 max-w-2xl w-full">
            <div class="md:col-span-3">
                <p>20217—2021</p>
            </div>
            <div class="md:col-span-8">
                <a href="https://hov.co" class="mb-1.5 block">High Output Ventures</a>
                <p class="mb-8">Lead designer</p>
                {# <p class="mb-16">A fully-remote venture studio that partners with industry experts to help them launch and scale startups.</p> #}
            </div>
        </div>
        <div class="md:grid md:grid-cols-12 gap-8 mb-16 max-w-2xl w-full">
            <div class="md:col-span-3">
                <p>20210—2017</p>
            </div>
            <div class="md:col-span-8">
                <a href="https://djordje.work/v1" class="mb-1.5 block">Freelance</a>
                <p class="mb-10">Designer, illustrator and frontend developer</p>
                {# <p class="mb-10">Helped startups, artists and indie creators bring their vision to life through websites, apps,
                    print, and video. Worked on everything from educational iPad apps for kids to websites for West Coast rappers.</p> #}
            </div>
        </div>
        {{ heading("Work") }}

        <!-- Ghost -->
        <div class="md:grid-cols-12 gap-8 mb-8 max-w-2xl w-full">
            <div class="md:col-span-8">
                <a href="https://ghost.org" class="mb-1.5 block">Ghost</a>
                <p class="mb-8">Senior product designer, 2021–2025</p>
                <p class="mb-16">An independent, non-profit organization building open-source tools for writers, journalists and publishers.</p>
            </div>
        </div>

        <div class="max-w-2xl w-full mb-16">
            <p class="mb-5">Over the past year, I lead design on bringing social web features to Ghost, helping users reach new audiences not just on Ghost, but on WordPress, Threads, Bluesky, Mastodon and other platforms, too.</p>
            <p>We worked fast, shipping updates every week, and iterating based on feedback from our growing list of beta users. If you're curious, you can <a href="https://activitypub.ghost.org/archive/">read the entire journey in the changelog archive</a>.</p>
        </div>

        <div class="grid sm:grid-cols-12 gap-8 mb-16 max-w-[1440px] w-full">
            <div class="sm:col-span-6 md:col-span-6">
                <div class="rounded-xl border border-black/5 overflow-hidden mb-4">
                    <video autoplay loop plays-inline muted src="/assets/videos/notes-feed.mov"></video>
                </div>
                <p><sup>1</sup> Interacting with short-form notes in Ghost <a href="#">(changelog post ↗)</a></p>
            </div>
            <div class="sm:col-span-6 md:col-span-6">
                <div class="rounded-xl border border-black/5 overflow-hidden mb-4">
                    <video autoplay loop plays-inline muted src="/assets/videos/reader-view.mov"></video>
                </div>
                <p><sup>2</sup> Reading long-form posts in Ghost, with reader customization, reading progress and table of contents <a href="#">(changelog post ↗)</a></p>
            </div>
        </div>

        <div class="max-w-2xl w-full mb-16">
            <p class="mb-5">Before that, I worked on a dozen of features for publishers: <a href="#">growth analytics</a><sup>2</sup>, improved onboarding<sup>3</sup>, <a href="https://ghost.org/changelog/free-trials/">free trials for memberships</a>, <a href="">two-factor authentication</a><sup>3</sup>, <a href="">email notifications</a>, <a href="">rich media editor cards</a>, <a href="">fixing links in newsletters</a>, and many more.</p>
            {# <p class="mb-5">Before that, I worked on a dozen of features for publishers:</p>
            <ul class="list-disc mb-5">
                <li class="mb-2">Growth analytics<sup>2</sup></li>
                <li class="mb-2">Improved onboarding<sup>3</sup></li>
                <li class="mb-2">Recommendations</li>
                <li class="mb-2">Free trials</li>
                <li class="mb-2">Two-factor authentication</li>
                <li class="mb-2">Email notifications</li>
                <li class="mb-2">Rich media editor cards</li>
                <li class="mb-2">and many more</li>
            </ul> #}
            <p class="mb-5">I also led design on rebuilding internal tools, which took a cumbersome command-line interface and turned it into a smooth, responsive web-app, allowing Ghost's customer support team to help people in half the time.</p>
        </div>

        <div class="grid sm:grid-cols-12 gap-8 mb-16 max-w-[1440px] w-full">
            <div class="sm:col-span-12 md:col-span-5">
                <div class="rounded-xl border border-black/5 overflow-hidden mb-4 text-left">
                    {% image "recommendations.png", "Short notes in Ghost" %}
                </div>
                <p><sup>3</sup> Cross-promote other publishers and help them grow their audience <a href="https://ghost.org/changelog/recommendations/">(changelog post ↗)</a></p>
            </div>
            <div class="sm:col-span-6 md:col-span-3">
                <div class="rounded-xl border border-black/5 overflow-hidden mb-4">
                    {% image "portfolio-2fa.png", "Long-form posts in Ghost" %}
                </div>
                <p><sup>4</sup> Safer logins with two-factor authentication <a href="#">(changelog post ↗)</a></p>
            </div>
            <div class="sm:col-span-6 md:col-span-4">
                <div class="rounded-xl border border-black/5 overflow-hidden mb-4 text-left">
                    <video autoplay loop plays-inline muted src="/assets/videos/product-card.mov"></video>
                </div>
                <p><sup>7</sup> Product cards let you easily add product reviews, recipes and more to your posts <a href="#">(changelog post ↗)</a></p>
            </div>
        </div>

        {# <div class="grid md:grid-cols-12 gap-8 py-16 max-w-[1440px] w-full ">
            <div class="md:col-span-4">
                <div class="rounded-xl border border-black/5 overflow-hidden mb-4 text-left">
                    <video autoplay loop plays-inline muted src="/assets/videos/product-card.mov"></video>
                </div>
                <p><sup>7</sup> Product cards let you easily add product reviews, recipes and more to your posts <a href="#">(changelog post ↗)</a></p>
            </div>
        </div> #}

        <div class="max-w-2xl w-full mb-16">
            <p class="mb-5">Ghost is used by thousands of amazing journalists, writers and bloggers. It feels really good seeing how folks like <a href="https://www.404media.co/two-years-404-media-anniversary/">404 Media are using it for important journalism</a>, or how seasoned blogger and Stack Overflow co-founder Jeff Atwood chose it for <a href="https://blog.codinghorror.com/">his blog</a>.</p>
        </div>

        <!-- HOV -->
        {% include "separator.njk"%}
        {# <div class="my-8 w-full max-w-2xl  text-center">↓</div> #}


        <div class="md:grid-cols-12 gap-8 mb-16 max-w-2xl">
            <div class="md:col-span-8">
                <a href="https://hov.co" class="mb-1.5 block">High Output Ventures</a>
                <p class="mb-8">Lead designer, 2017—2021</p>
                <p>A fully-remote venture studio that partners with industry experts to help them launch and scale startups.</p>
            </div>
        </div>

        <div class="max-w-2xl w-full mb-16">
            <p class="mb-5">I joined HOV as their first designer, helping grow the design department to 5 people, while hiring, training and managing junior designers.</p>
            <p>I also directly worked on products like REITScreener, <a href="https://www.hov.co/accelerator">HOV Accelerator</a> and Identifi, where my job covered everything from helping stakeholders shape MVPs, to doing user research, and designing complex UIs.</p>
        </div>

        <div class="grid md:grid-cols-12 gap-8 mb-16 max-w-[1440px] w-full">
            <div class="md:col-span-4">
                <div class="rounded-xl border border-black/5 overflow-hidden mb-4">
                    {# {% image "portfolio-activitypub-notes.png", "Short notes in Ghost" %} #}
                    <video autoplay loop plays-inline muted src="/assets/videos/hov-accelerator.mov"></video>
                </div>
                <p><sup>14</sup> Landing page for the biggest Pakistani startup accelerator</p>
            </div>
            <div class="md:col-span-4">
                <div class="rounded-xl border border-black/5 overflow-hidden mb-4">
                    {# {% image "portfolio-activitypub-posts.png", "Long-form posts in Ghost" %} #}
                    {% image "mapping-user-stories.png", "Long-form posts in Ghost" %}
                </div>
                <p><sup>2</sup> Illustrations I did for explaining HOV's design process</p>
            </div>
            <div class="md:col-span-4">
                <div class="rounded-xl border border-black/5 overflow-hidden mb-4">
                    {# {% image "portfolio-activitypub-posts.png", "Long-form posts in Ghost" %} #}
                    {% image "reitscreener-demo.png", "Long-form posts in Ghost" %}
                </div>
                <p><sup>15</sup> Tool helping users make better decisions when investing in REITs</p>
            </div>
        </div>

        {% include "separator.njk"%}

        <!-- Freelance -->
        <div class="md:grid-cols-12 gap-8 mb-16 max-w-2xl">
            <div class="md:col-span-8">
                <a href="https://djordje.work/v1" class="mb-1.5 block">Freelance</a>
                <p class="mb-10">Designer, illustrator and frontend developer, 2010—2017</p>
                <p class="mb-10">Helped startups, artists and indie creators bring their vision to life through websites, apps,
                    print, and video. Worked on everything from educational iPad apps for kids to websites for West Coast rappers.</p>
            </div>
        </div>

        <!-- About me -->
        {{ heading("About me") }}
        <div class="max-w-2xl w-full mb-16">
            <p class="mb-5">In my free time, I<sup>23</sup> enjoy diving into internet rabbit holes, digging through flea markets, and playing with my dumb dog<sup>24</sup>.</p>
            <p>As a designer, I'm happiest when tackling complex problems, moving fast, and constantly learning new things.</p>
        </div>

        <!-- Footer -->
        {{ heading("Elsewhere") }}
        <div class="max-w-2xl w-full mb-16">
            <ul class="list-disc mb-5">
                <li class="mb-2"><a href="https://www.are.na/dorde-vlaisavljevic/channels">Are.na ↗</a></li>
                <li class="mb-2"><a href="https://www.linkedin.com/in/djordje-vlaisavljevic/">Linkedin ↗</a></li>
                <li class="mb-2"><a href="https://bsky.app/profile/djordjevlais.bsky.social">Bluesky ↗</a></li>
                <li class="mb-2"><a href="https://www.last.fm/user/trojerucica">Last.fm ↗</a></li>
                <li class="mb-2"><a href="https://github.com/djordjevlais">Github ↗</a></li>
            </ul>
        </div>
</main>

<footer class="max-w-2xl  w-full py-24 text-left">
    <p>&copy; 2025 Đorđe Vlaisavljević. All rights reserved.</p>
</footer>

</div>