---
layout: base.njk
title: Home
---

<div class="flex flex-col items-center px-4 pt-4 sm:pt-32 mb-16">
    <main role="main" id="main-content" class="flex-grow flex flex-col items-center w-full mb-12">

        <div class="mb-12 text-left max-w-3xl w-full border-b border-[#bee8e8] pb-1 flex justify-between heading-block">
            <h2>High Output Ventures</h2>
        </div>

        <div class="max-w-3xl w-full mx-4 sm:mx-6 lg:mx-8 mb-10">
            <p>From 2017 to 2021 I worked as a lead designer for High Output Ventures, a startup studio and accelerator. Part of my job was defining and evolving the brand of High Output Ventures as it grew.</p>
        </div>

        <div class="grid sm:grid-cols-12 gap-8 mb-12 max-w-[1440px] w-full">
            <div class="md:col-span-12">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "hov-1.png", "HOV" %}
                </div>
            </div>
        </div>

        <div class="grid sm:grid-cols-12 gap-8 mb-12 max-w-[1440px] w-full">
            <div class="md:col-span-12">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "hov-3.png", "HOV" %}
                </div>
            </div>
        </div>

        <div class="grid sm:grid-cols-12 gap-8 mb-20 max-w-[1440px] w-full">
            <div class="md:col-span-12">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "hov-2.png", "HOV" %}
                </div>
            </div>
        </div>

        <div class="max-w-3xl w-full mx-4 sm:mx-6 lg:mx-8 mb-5">
            <p>I've also helped numerous domain experts, indie creators, and founders build their products from 0 to 1. I helped them position themselves through branding sprints and shape their ideas, knowledge and workflows into successful web and mobile products.</p>
        </div>

        <div class="max-w-3xl w-full mx-4 sm:mx-6 lg:mx-8 mb-20">
            <p><strong>Identifi</strong> is a tool that helps managers and direct reports build stronger connections through regular 1-on-1s. I've designed the web and mobile apps, a marketing site, and made dozens of illustrations and icons for the product.</p>
        </div>

        <div class="grid sm:grid-cols-12 gap-8 mb-20 max-w-[1440px] w-full">
            <div class="md:col-span-8 md:col-start-3">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "identifi-landing.png", "Identifi" %}
                </div>
            </div>
        </div>

        <div class="grid sm:grid-cols-12 gap-8 mb-20 max-w-[1440px] w-full">
            <div class="md:col-span-3">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "identifi-mobile-1.png", "Identifi" %}
                </div>
            </div>
            <div class="md:col-span-3">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "identifi-mobile-3.png", "Identifi" %}
                </div>
            </div>
            <div class="md:col-span-3">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "identifi-mobile-4.png", "Identifi" %}
                </div>
            </div>
            <div class="md:col-span-3">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "identifi-mobile-5.png", "Identifi" %}
                </div>
            </div>
        </div>

        <div class="max-w-3xl w-full mx-4 sm:mx-6 lg:mx-8 mb-20">
            <p>I helped Tam Ging Wien establish his brand and scale his business through <strong>REITScreener</strong>. His blog and seminars on making smarter decisions when investing in REITs proved very popular, so we worked together to build an online platform which combined online courses, news, screeners, and other educational content, which ended up being used by thousands of users.</p>
        </div>

        <div class="grid sm:grid-cols-12 gap-8 mb-20 max-w-[1440px] w-full">
            <div class="md:col-span-8 md:col-start-3">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "reitscreener-4.png", "REITScreener" %}
                </div>
            </div>
        </div>
        <div class="grid sm:grid-cols-12 gap-8 mb-20 max-w-[1440px] w-full">
            <div class="md:col-span-8 md:col-start-3">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "reitscreener-1.png", "REITScreener" %}
                </div>
            </div>
        </div>
        <div class="grid sm:grid-cols-12 gap-8 mb-20 max-w-[1440px] w-full">
            <div class="md:col-span-8 md:col-start-3">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "reitscreener-2.png", "REITScreener" %}
                </div>
            </div>
        </div>
        <div class="grid sm:grid-cols-12 gap-8 mb-20 max-w-[1440px] w-full">
            <div class="md:col-span-8 md:col-start-3">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "reitscreener-3.png", "REITScreener" %}
                </div>
            </div>
        </div>

        <div class="max-w-3xl w-full mx-4 sm:mx-6 lg:mx-8 mb-20">
            <p>For all of these products, I'd create simple but thorough style guides in Sketch, which helped our team easily build new features, site pages, social network content and other assets.</p>
        </div>

        <div class="grid sm:grid-cols-12 gap-8 mb-20 max-w-[1440px] w-full">
            <div class="md:col-span-8 md:col-start-3">
                <div class="rounded-3xl border border-black/5 overflow-hidden mb-4">
                    {% image "style-guide.png", "Style guide" %}
                </div>
            </div>
        </div>

        <div class="max-w-3xl w-full mx-4 sm:mx-6 lg:mx-8 mb-10">
            <p class="mb-5">You can read a couple of case studies from this period <a href="https://djordje.work/v1/#work">here</a>.</p>
            <p>Thanks for reading!</p>
        </div>
    </main>
</div>